{% extends "layouts.html" %}

{% block content %}
<div class="container">
    <h2>Dashboard</h2>
    <div class="row">
        <div class="col-lg-6">
            <div class="mt-5">
                <!-- Card kosong untuk visualisasi data -->
                <div class="card">
                    <div class="card-header bg-dark">
                        <h2 class="mt-1 text-white">Data Visualization</h2>
                    </div>
                    <div class="card-body">
                        <!-- Konten visualisasi data -->
                        <div class="container mt-2">
                            <canvas id="myChart" width="200" height="200"></canvas>
                        </div>
                        <!-- <hr>
                        <img src="/static/wordcloud.png" alt="Data Visualization" class="img-fluid"> -->
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-6">
            <div class="mt-5">
                <!-- Card kosong untuk visualisasi data -->
                <div class="card">
                    <div class="card-header bg-dark">
                        <h2 class="mt-1 text-white">Hasil Algoritma Terbaik</h2>
                    </div>
                    <div class="card-body">
                        {% if hasil_train %}
                        <!-- Tampilkan tabel jika hasil_train memiliki data -->
                        <div class="table-responsive">
                            <table class="table table-striped table-bordered table-hover">
                                <thead>
                                    <tr>
                                        <th>Best Model</th>
                                        <th>Accuracy Naive Bayes</th>
                                        <th>Processing Time (Naive Bayes)</th>
                                        <th>Accuracy LSTM</th>
                                        <th>Processing Time (LSTM)</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>{{ hasil_train.best_model }}</td>
                                        <td>{{ hasil_train.acc_nb }}</td>
                                        <td>{{ hasil_train.processtime_nb }}</td>
                                        <td>{{ hasil_train.acc_lstm }}</td>
                                        <td>{{ hasil_train.processtime_lstm }}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        {% else %}
                        <!-- Tampilkan pesan jika hasil_train kosong -->
                        <p>Tidak ada data yang tersedia.</p>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="col">
    <div class="mt-5">
        <!-- Card list-->
        <div class="card">
            <div class="card-header bg-success">
                <h2 class="mt-1 text-white">List Produk Boikot</h2>
            </div>
            <div class="card-body">

            </div>
        </div>
    </div>
</div>


<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script>
    const backgroundColors = [
        'rgba(75, 192, 192, 1)', // Merah dengan alpha 1, tidak transparan
        'rgba(255, 206, 86, 1)',  // Hijau dengan alpha 1, tidak transparan
        'rgba(255, 99, 132, 1)'   // Kuning dengan alpha 1, tidak transparan
    ];

    const chartData = JSON.parse('{{ chart_data | tojson | safe }}');

    const ctx = document.getElementById('myChart');

    new Chart(ctx, {
        type: 'doughnut',
        data: {
            labels: ['Mendukung', 'Netral', 'Menolak'],
            datasets: [{
                label: 'of sentiment',
                data: chartData.data,
                borderWidth: 1,
                backgroundColor: backgroundColors
            }]
        },
        options: {
            responsive: true, // Mengaktifkan responsif
            maintainAspectRatio: false, // Mengabaikan aspek rasio
            plugins: {
                legend: {
                    labels: {
                        color: 'black' // Mengatur warna teks menjadi putih
                    }
                }
            }
        }
    });
</script>


{% endblock %}