<!DOCTYPE html>
<html>

<head>
    <title>Login Page</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="shortcut icon" type="image/png" href="{{ url_for('static', filename='favicon.png') }}" />
    <link rel="stylesheet" href="{{ url_for('static', filename='src/assets/css/styles.min.css') }}" />
</head>

<body>
    <div class="page-wrapper" id="main-wrapper" data-layout="vertical" data-navbarbg="skin6" data-sidebartype="full"
        data-sidebar-position="fixed" data-header-position="fixed">
        <div
            class="position-relative overflow-hidden radial-gradient min-vh-100 d-flex align-items-center justify-content-center">
            <div class="d-flex align-items-center justify-content-center w-100">
                <div class="row justify-content-center w-100">
                    <div class="col-md-8 col-lg-6 col-xxl-3">
                        <div class="card mb-0">
                            <div class="card-body">
                                <a href="" class="text-nowrap logo-img text-center d-block py-3 w-100">
                                    <img src="{{ url_for('static', filename='logo.png') }}" width="180" alt="">
                                </a>
                                <form method="POST">
                                    <div class="mb-3">
                                        <label for="username" class="form-label"><i
                                                class="ti ti-user mr-2"></i>Username</label>
                                        <input type="username" class="form-control" id="username" name="username"
                                            placeholder="Masukkan username" required>
                                    </div>
                                    <div class="mb-4">
                                        <label for="password" class="form-label"><i
                                                class="ti ti-key mr-2"></i>Password</label>
                                        <input type="password" class="form-control" id="password" name="password"
                                            placeholder="Masukkan password" required>
                                    </div>
                                    <input type="submit" value="Login"
                                        class="btn btn-primary w-100 py-8 fs-4 mb-4 rounded-2"></input>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script src="{{ url_for('static', filename='src/assets/libs/jquery/dist/jquery.min.js') }}"></script>
    <script
        src="{{ url_for('static', filename='src/assets/libs/bootstrap/dist/js/bootstrap.bundle.min.js') }}"></script>
</body>

</html>